In [10]:
a={'姓名':'賴宏瑋','性別':'男','作業分數':[95,100,90]}
b={'學號':'M1129020'}
c={**a,**b}
import copy
d=copy.deepcopy(c)
c['作業分數'][1]=80
d['姓名']='許珈綺'
d['性別']='女'
d['學號']='M1229001'

z=c.pop('作業分數')
ave1=sum(z)/len(z)

y=d.pop('作業分數')
ave2=sum(y)/len(y)

print(ave1)
print(c)
print(ave2)
print(d)

88.33333333333333
{'姓名': '賴宏瑋', '性別': '男', '學號': 'M1129020'}
95.0
{'姓名': '許珈綺', '性別': '女', '學號': 'M1229001'}

In [18]:
a=[100,50,45,60,90,95,80,50]
a.insert(0,88)
a[4:6]=[70,50]
a.remove(50)
b=a.pop(0)
c=a.pop()

print(b+c)

138

In [14]:
print('A:',347//3)
print('B:',347%3)
a=347
a//=3

b=347
b%=3

print(a**b)

A: 115
B: 2
13225